/* Reset des styles par défaut pour le corps de la page */
body {
  margin: 0;
  padding: 0;
}

/* Style pour la page A4 */
html, body {
  height: 297mm;
  width: 210mm;
}

/* Centrage de la page */
body {
  margin: 0;
  background-color: #f2f2f2; /* Fond gris clair */
  padding: 20px; /* Espacement intérieur */
}

/* Style pour le formulaire d'inscription */
#formulaire {
  margin-top: 20px;
  margin-left: 40px;
}

/* Style pour le conteneur des infos aligné à droite avec un soulignement */
div.info-container {
  text-align: left;
}
#entreprise ul{
  list-style-type: none;
}
/* Style pour tous les spans avec la classe "info" à l'intérieur du conteneur */
span.info {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10px; /* Ajustez selon vos besoins */
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 5px;
}
p{
  padding-top: 0%;
}
/* Style pour les informations supplémentaires */
#infosSupplementaires {
  margin-top: 10px;
  background-color: #adfd9f; /* Fond blanc */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
}

.liste {
  margin-bottom: 20px;
  margin-top: 0px;
}

/* Styles pour la liste d'équipement nécessaire */
#infosSupplementaires ul {
  list-style-type: disc; /* Liste à puces */
  padding-left: 20px; /* Espacement à gauche */
}



#infosSupplementaires a:hover {
  text-decoration: underline;
}

/* Style pour le pied de page */
footer {
  margin-top: 0px;
  text-align: center;
}

/* Nouveau style pour le logo à droite, un peu plus petit */
#logo {
  float: right;
  max-width: 100px; /* Ajuster la largeur selon vos besoins */
  height: auto;
}

/* Ajoutez d'autres styles au besoin */

@media print {
  body {
    size: A4;
    margin: 0;
  }

  section {
    page-break-before: auto;
  }

  /* Ajoutez d'autres styles d'impression ici */
}
#autorisationParental h2{
  text-align: center;
  text-transform: uppercase;
  padding-top: 0%;
  margin-top:0 ;
}

#autorisationParental p{
  text-align: justify;
  padding: 20px;
  font-size:10px;
}